button {
    margin: 10px 0 40px;
    padding: 1em 2em;
    border: none;
    box-sizing:border-box;
    width:90%;
    display: inline-block;
    font-size: 60%;
    position: relative;
    background-color:#A9F5A9;
}

div {
  margin: 5px 0 10px;
  overflow-wrap : break-word;
}

div.main-area {
  font-size: 50%;
  width : 90%;
  height: 200%;
}


input {
    width : 90%;
}

textarea {
  width: 90%;
  max-height: 400px;
  padding: 8px;
  line-height: 20px;
  font-size: 50%;
}
